body{
  background-color: #df5a49;;
}

.icon{
  height:150px;
  width:150px;
}

.outer-box-right, .outer-box-left {
    background: #45B29D;
    padding-top: 1em;
}

a{
  color: #334d5c;
}

.text{
  margin-bottom: 20px;
}

.outer-box-left span, .outer-box-right span{
  margin-top: 10px;
  font-weight: bold;
  color: #09093C;
}

.ribbon{
  width: 70px;
}

.points{
  position: relative;
  font-size: 24pt;
  top: -65px;
  position: relative;
  top: -28px;
}

.challenge{
  background-color: #ADFCF9;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  top: 30px;
  font-size: 24pt;
}

.icon{
  border: 0px transparent solid;
}
